<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easy.dao.SchoolDao">
    <select id="list" resultType="com.easy.entity.edu.School">
        select *
        from
        ierp_school
    </select>

    <select id="get" resultType="com.easy.entity.edu.School">
        select
        *
        from
         ierp_school
         where id=#{id}
    </select>

    <insert id="save" parameterType="com.easy.entity.edu.School">
        insert into
        ierp_school
        (
        `id`,
        `name`
        )values
        (
        #{id},
        #{name}
        )
    </insert>

    <delete id="delete">
        delete from
        ierp_school
        where id=#{id}
    </delete>
</mapper>